template.js-success-modal-template
	.modal.success-modal.js-success-modal
		.modal_wrapper.success-modal_wrapper
			.success-modal_title
				h3 Благодарим за вашу идею!
			button.success-modal_close-button.js-button-close-modal
				+sprite('cross', 24, 24)




