template.js-yaMap-template
	.modal.ya-map.js-yaMap
		.modal_wrapper.ya-map_wrapper
			.ya-map_title
				h3 Укажите место на карте
			button.ya-map_close-button.js-button-close-map
				+sprite('cross', 24, 24)
			#map.ya-map_map




