$white: #ffffff;
$black: #000000;
$dark: rgba(0, 0, 0, 0.87);
$darkMedium: rgba(0, 0, 0, 0.6);
$darkLow: rgba(0, 0, 0, 0.4);
$darkLight: rgba(0, 0, 0, 0.02);
$overlay: rgba(2, 138, 243, 0.06);
$grey: #A6AFB6;
$lightGrey: #F3F7FA;
$accent: #028AF3;
$accentMedium: #3FA6F6;
$strokeDark: rgba(179, 197, 210, 0.3);
