include tools/_mixins

doctype html
html(lang='ru')
	head
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		title Находка 2030
		link(href="/css/main.css" type="text/css" rel="stylesheet")

	body(lang='ru-RU')
		.fix
			.fix_content
				include components/_component.header.pug
				main
					block page

			include components/_component.footer.pug

		include templates/index.pug

		script(src="https://api-maps.yandex.ru/2.1/?apikey=e8c381f1-4417-41b3-95c7-24140e2a89ba&lang=ru_RU")
		script(src="/scripts/main.js" type="text/javascript")
