header.header
	.container
		.header_wrapper
			.header_logo
				a(href='#')
					img(src='/images/logo/logo-header.svg')
			button.header_menu-button.js-open-menu-button
				+sprite('dotted', 16, 16)
			nav.header_nav
				ul.header_nav-list

					each item in ['О находке', 'Пройдите опрос', 'Проекты Находки', 'Обсуждения', 'Новости']
						li.header_nav-item
							a(href='#').header_nav-link=item

